.attribution { 
   font-size: 11px;
   text-align: center; 
}

.attribution a { 
   color: hsl(228, 45%, 44%); 
}



/*************************************/

body{
   margin: 0;
   font-family: 'Hanken Grotesk', sans-serif;   
   font-size: 18px;
}
.container{
   width: 750px;
   height: 500px;
   margin: 50px auto;
   border-radius:30px;
   -webkit-box-shadow:20px 30px 30px hsl(221, 100%, 96%);
   box-shadow: 20px 30px 30px hsl(221, 100%, 96%);
   display:flex;
}

/*LEFT-SIDE*/

h3{
   font-weight: 500;
   font-size: 1.2em;
}

.left-side{
   background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   border-radius: 30px;
   width: 400px;
   padding-top: 10px;
   display:flex;
   flex-direction: column;
   align-items: center;
}

.left-side p{
   text-align: center;
}

.left-side div:nth-child(1){
   color: hsl(0, 0%, 100%);
   font-size:3.5em;
   font-weight:800;
}

.left-side h1{
   color: hsl(0, 0%, 100%);
   font-weight:500;
}

.score{
   background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
   width: 200px;
   height:200px;
   border-radius: 200px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.lavender{
   color: hsl(241, 100%, 89%);
}

/*RIGHT-SIDE*/

.right-side{
width: 350px;
}

.right-side-container{
   padding: 5px 30px;
}

.box{
   margin-bottom: 20px;
   height: 50px;
   line-height: 50px;
   font-size:0.95em;
   text-indent: 40px;
   padding: 0 10px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
}

.reaction{
   color: hsl(0, 100%, 67%);
   background-color: hsl(0, 100%, 96%);
   background-image:url(assets/images/icon-reaction.svg);
   background-repeat: no-repeat;
   background-position: 5% 50%;
}

.memory{
   color: hsl(39, 100%, 56%);
   background-color: hsl(39, 100%, 96%);
   background-image:url(assets/images/icon-memory.svg);
   background-repeat: no-repeat;
   background-position: 5% 50%;
}

.verbal{
   color: hsl(166, 100%, 37%);
   background-color: hsl(166, 100%, 96%);
   background-image:url(assets/images/icon-verbal.svg);
   background-repeat: no-repeat;
   background-position: 5% 50%;
}

.visual{
   color: hsl(234, 85%, 45%);
   background-color: hsl(234, 85%, 96%);
   background-image:url(assets/images/icon-visual.svg);
   background-repeat: no-repeat;
   background-position: 5% 50%;
}

.dark-blue{
   color: hsl(224, 30%, 27%);
}

.dark-blue2{
   color: hsl(224, 30%, 70%);
}

.continue{
   background-color: hsl(224, 30%, 27%);
   color: white;
   text-align: center;
   height: 50px;
   line-height: 50px;
   border-radius: 50px;
   margin-top: 50px;
}

.continue:hover{
     background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
}

@media only screen and (max-width:375px){
   body{
      margin: 0;
   }
   .container{
      display:grid;
      grid-column: 1fr;
      width: 100%;
      box-shadow: none;
   }

   .attribution{
      display:none;
   }
}











